<% @word=ajax_source[:word]
  @web_type=ajax_source[:web_type]
  @sentences=ajax_source[:sentences]
  @other_words=ajax_source[:other_words]
  @step=ajax_source[:step]
  @timer = ajax_source[:timer]
%>
<link href="/assets/style.css" rel="stylesheet" type="text/css"/>
<%= javascript_include_tag "application" %>
<script type="text/javascript" src="/assets/iscroll.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<script type="text/javascript" src="/assets/start.js"></script>
<script type="text/javascript">
  var word_name = "<%= @word.name.strip %>";
  var word_id = "<%= @word.id %>";
  var web_type = "<%= @web_type %>";
  var myScroll;
  var step = "<%= @step %>";
  var correct_sum = 0;
  var answer_time = <%= @timer.nil? ? 15 : @timer.split(",")[0].to_i %>;
  var last_time = <%= @timer.nil? ? 3 : @timer.split(",")[1].to_i %>;
</script>

<% if @web_type == "recite" %>
  <%= render :partial => "/words/step1_tab" if @step=="1" %>
  <%= render :partial => "/words/step2_tab" if @step=="2" %>
  <%= render :partial => "/words/step3_tab" if @step=="3" %>
  <%= render :partial => "/words/step4_tab" if @step=="4" %>
<% end %>

<% if @web_type == "review" %>
  <%= render :partial => "/words/step4_tab" %>
<% end %>
<%= render :partial => "/words/step5_tab" %>

<div class="mask" id="mask" style="display:none;"></div>
<article class="t_area" id="correct" style="display:none;">
  <div class="t_icon"><img src="/assets/true_icon.png" alt="true_icon"/></div>
  <h1>答对了！</h1>
  <div class="t_btn border_radius" id="after_four_correct" style="display:none;" onclick="javascript:hide_mask($('#correct'));click_knowwell();"><h2>已经掌握</h2></div>
  <div class="t_btn border_radius" onclick="javascript:study_rollback();"><h2>翻面学习</h2></div>
  <div class="t_btn border_radius" id="correct_next_btn" onclick="javascript:goto_next('correct');"><h2>继续(<span id="countdown_correct"><%= @timer.split(",")[1] %></span>)</h2></div>
</article>
<article class="t_area" id="mistake" style="display:none;">
  <div class="t_icon"><img src="/assets/false_icon.png" alt="false_icon"/></div>
  <h1>答错了！</h1>
  <div class="t_btn border_radius" onclick="javascript:reset_answer();"><h2>按错了，不算</h2></div>
  <div class="t_btn border_radius" onclick="javascript:goto_next('mistake');"><h2>继续(<span id="countdown_mistake"><%= @timer.split(",")[1] %></span>)</h2></div>
</article>
<article class="t_area" id="knowwell" style="display:none;">
  <div class="t_icon"><img src="/assets/suo_icon.png" /></div>
  <h1>确认你已经掌握了吗？</h1>
  <div class="t_btn border_radius" onclick="javascript:ajax_know_well();"><h2>确认</h2><p>标记该单词为"已学会",并开始学习下一单词</p></div>
  <div class="t_btn border_radius" onclick="javascript:hide_mask($('#knowwell'));"><h2>不确认</h2><p>返回继续学习该单词</p></div>
</article>
<input id="error" type="hidden" value=""></input>

<script type="text/javascript">
  $(".to_be_sort").reorder();
</script>

<%= render :partial => "/words/tishi_tab" %>
