<script  type="text/javascript" src="/assets/jquery-ui.min.js"></script>
<script  type="text/javascript" src="/assets/jquery.ui.touch-punch.min.js"></script>
<% @sentence = @sentences.length>3 ? @sentences[2] : @sentences[-1] unless @sentences.blank? %>
<% if @word.name.strip.split(" ").length==1 %>
  <% leving_word = leving_word(@sentence.description, @word.name) if @sentence and @sentence.description %>
  <% if cookies[:study_role].nil? || cookies[:study_role]=="0" %>
    <div id="face">
      <section class="m_box angled-135 stripes border_radius">
        <div class="m_bt">看句子选单词。<span class="count_down"><%= @timer.split(",")[0] %></span></div>
        <article class="words_audio">
          <h3><%= @sentence.description.sub("#{leving_word}","________").sub("#{leving_word.capitalize}","________") if @sentence and @sentence.description %></h3>
        </article>
        <div class="to_be_sort">
          <section class="words_list border_radius">
            <p onclick="javascript:answer_correct();"><span><%= @word.name %></span></p>
          </section>
          <% @other_words.each do |w| %>
            <section class="words_list border_radius">
              <p onclick="javascript:answer_mistake();"><span><%= w.name %></span></p>
            </section>
          <% end %>
        </div>
      </section>
      <section class="words_btn_box">
        <div class="rollBack" onclick="javascript:rollback();">翻面学习</div>
        <div class="knowWell" onclick="javascript:click_knowwell();">已经掌握</div>
      </section>
    </div>
  <% else %>
    <div id="face">
      <section class="m_box angled-135 stripes border_radius">
        <div class="m_bt">在输入框中拼写单词。<span class="count_down">5</span></div>
        <section class="example_list">
          <p><%= @sentence.description.sub("#{leving_word}","<input class=\"words_input\" id=\"step4_input\" type=\"text\" />")
              .sub("#{leving_word.capitalize}","<input class=\"words_input\" id=\"step4_input\" type=\"text\" />").html_safe if @sentence and @sentence.description %></p>
        </section>
        <div class="jz_btn_box"><button class="bs_btn border_radius" onclick="javascript:check_step4_input();">确认</button></div>
      </section>
      <section class="words_btn_box">
        <div class="rollBack" onclick="javascript:rollback();">翻面学习</div>
        <div class="knowWell" onclick="javascript:click_knowwell();">已经掌握</div>
      </section>
    </div>
    <script type="text/javascript">
      answer_time = <%= @timer.nil? ? 15 : (@timer.split(",")[0].to_i)*2 %>;
      time_flag = 2;
    </script>
  <% end %>

<% else %>  
  <div id="face">
    <section class="m_box angled-135 stripes border_radius">
      <div class="m_bt">重新排列新句子。<span class="count_down">50</span></div>
      <article class="words_audio">
        <h3>你是如何理解这个句子的?</h3>
      </article>
      <section class="example_list drag_box">
        <% drag_arr = @sentence.description.strip.gsub(","," ").gsub("!"," ").gsub("?"," ").gsub("."," ").gsub(";"," ").gsub("  "," ").split(" ") %>
        <% drop_arr = drag_arr.collect{|a|a="##{a}#"} %>
        <% $drop_html=@sentence.description.strip.gsub(","," , ").gsub("."," . ").gsub("!"," ! ").gsub("?"," ? ").gsub(";"," ; ").gsub("  "," ").split(" ").collect{|a| a= (a!=","&&a!="."&&a!="!"&&a!="?"&&a!=";") ? "##{a}#" : "#{a}"}.join(" "); drop_arr.each do |a|; $drop_html = $drop_html.gsub("#{a}","######"); end; $drop_html = $drop_html.gsub("######","<div class='drop_div'></div>"); %>
        <%= $drop_html.gsub(",","<div class='sign'>,</div>").gsub("!","<div class='sign'>!</div>").gsub("?","<div class='sign'>?</div>").gsub(".","<div class='sign'>.</div>").gsub(";","<div class='sign'>;</div>").html_safe %>
      </section>
      <section id="drag_span_list" class="example_list drag_box">
        <% drag_arr.each_with_index do |a,index| %>
        <span id="drag<%= index %>" class="drag_span" onmousedown="javascript:stopBubble(event);"><%= a %></span>
        <% end %>
      </section>
      <div class="jz_btn_box"><button class="bs_btn border_radius" onclick="javascript:check_step4_drag();">确认</button></div>
    </section>
    <section class="words_btn_box">
      <div class="rollBack" onclick="javascript:rollback();">翻面学习</div>
      <div class="knowWell" onclick="javascript:click_knowwell();">已经掌握</div>
    </section>
  </div>
  <script type="text/javascript">    
    time_flag = 4;
    answer_time = <%= @timer.nil? ? 15 : (@timer.split(",")[0].to_i)*4 %>;
    var true_answer = "<%= drag_arr.join(" ") %>";
    $("#drag_span_list").reorder();
    $('.drag_span').draggable({helper: "clone"});
    $(".drop_div").droppable({
        drop: function( event, ui ) {
                $(this).html(ui.draggable.html());
        }
    })

  </script>
<% end %>