<header><div class="top_line"></div></header>
<section class="main">
  <div class="space10"></div>
  <h1 class="title">大学英语四级词汇</h1>
  <section class="m_box angled-135 stripes border_radius">
    <h1 class="time_title">时间累计</h1>
    <h2 class="time_con">
      <% (0..@time_str.length-1).each do |t| %><span><%= @time_str[t] %></span><% if t < (@time_str.length-1) and (t+1)%2 == 0 %>:<% end %><% end %>
    </h2>
    <section class="circle_box">
      <canvas id="circle" width="200" height="200">您的浏览器暂不支持Canvas</canvas>
      <script type="text/javascript">
        var color = ["#4c4c4c","#b5c0ad","#96b71c",];
        var data = [<%= @circle_data[:circle][2] %>,<%= @circle_data[:circle][1] %>,<%= @circle_data[:circle][0] %>];

        function drawCircle(){
          var canvas = document.getElementById("circle");
          var ctx = canvas.getContext("2d");
          var startPoint=0;
          for(var i=0;i<data.length;i++){
            ctx.fillStyle = color[i];
            ctx.beginPath();
            ctx.moveTo(100,100);
            ctx.arc(100,100,100,startPoint,startPoint+Math.PI*2*(data[i]/100),false);
            ctx.fill();
            //ctx.stroke();
            startPoint+=Math.PI*2*(data[i]/100);
          }
        }
        drawCircle();
      </script>
    </section>
    <section class="category_box">
      <div class="c_word">
        <h3><%= @circle_data[:data][0] %></h3>
        <div class="green_line"></div>
        <h3>已掌握</h3>
      </div>
      <div class="c_word">
        <h3><%= @circle_data[:data][1] %></h3>
        <div class="sageGreen_line"></div>
        <h3>初步掌握</h3>
      </div>
      <div class="c_word">
        <h3><%= @circle_data[:data][2] %></h3>
        <div class="black_line"></div>
        <h3>未掌握</h3>
      </div>
    </section>
  </section>
  <section class="se_btn">
    <div class="bs_btn_box"><button class="bs_btn border_radius" onclick="javascript:window.location.href='/words/start'">开始学习</button></div>
    <div class="sz_btn_box"><button class="sz_btn border_radius" onclick="javascript:window.location.href='/logins/lead_one'">设置</button></div>
  </section>
