<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0,maximum-scale=1.3 user-scalable=yes">
    <meta charset="utf-8">
    <title>大学英语四级词汇</title>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/assets/jquery-1.7.js"></script>
    <script type="text/javascript" src="/assets/main.js"></script>
  </head>

  <body>
  <header><div class="top_line"></div></header>
  <section class="main">
    <div class="space10"></div>
    <h1 class="title">大学英语四级词汇</h1>
    <section class="m_box angled-135 stripes border_radius">
      <h1 class="time_title">时间累计</h1>
      <h2 class="time_con"><span>0</span><span>0</span>:<span>0</span><span>0</span>:<span>0</span><span>0</span></h2>
      <section class="circle_box">
        <canvas id="circle" width="200" height="200">您的浏览器暂不支持Canvas</canvas>
        <script type="text/javascript">
          var color = ["#4c4c4c","#b5c0ad","#96b71c",];
          var data = [<%= @circle_data[:circle][2] %>,<%= @circle_data[:circle][1] %>,<%= @circle_data[:circle][0] %>];

          function drawCircle(){
            var canvas = document.getElementById("circle");
            var ctx = canvas.getContext("2d");
            var startPoint=0;
            for(var i=0;i<data.length;i++){
              ctx.fillStyle = color[i];
              ctx.beginPath();
              ctx.moveTo(100,100);
              ctx.arc(100,100,100,startPoint,startPoint+Math.PI*2*(data[i]/100),false);
              ctx.fill();
              //ctx.stroke();
              startPoint+=Math.PI*2*(data[i]/100);
            }
          }
          drawCircle();
        </script>
      </section>
      <section class="category_box">
        <div class="c_word">
          <h3><%= @circle_data[:data][0] %></h3>
          <div class="green_line"></div>
          <h3>已掌握</h3>
        </div>
        <div class="c_word">
          <h3><%= @circle_data[:data][1] %></h3>
          <div class="sageGreen_line"></div>
          <h3>初步掌握</h3>
        </div>
        <div class="c_word">
          <h3><%= @circle_data[:data][2] %></h3>
          <div class="black_line"></div>
          <h3>未掌握</h3>
        </div>
      </section>
    </section>
    <div class="bs_btn_box"><button class="bs_btn border_radius" onclick="javascript:window.location.href='/words/1'">开始学习</button></div>
  </section>
</body>
</html>
